/* =Colors
----------------------------------------------- */
/* =Boxes
----------------------------------------------- */
/* =Alignment & Positioning
----------------------------------------------- */
/* =Media
----------------------------------------------- */
/* =Forms
----------------------------------------------- */
/* =High Definition
----------------------------------------------- */
/* =Typography
----------------------------------------------- */
/* =Special effects
----------------------------------------------- */
html {
  font-size: 62.5%; }

body#tinymce.wp-editor {
  font-size: 16px;
  font-size: 1.6rem;
  max-width: 682px;
  /* =Colors
  ----------------------------------------------- */
  /* =Boxes
  ----------------------------------------------- */
  /* =Alignment & Positioning
  ----------------------------------------------- */
  /* =Media
  ----------------------------------------------- */
  /* =Forms
  ----------------------------------------------- */
  /* =High Definition
  ----------------------------------------------- */
  /* =Typography
  ----------------------------------------------- */
  /* =Special effects
  ----------------------------------------------- */
  /* =Typography
  ----------------------------------------------- */
  /* =Link colors
  ----------------------------------------------- */
  /* =Lists
  ----------------------------------------------- */
  /* =Forms
  ----------------------------------------------- */ }
