/* =Colors
----------------------------------------------- */
/* =Font stacks
----------------------------------------------- */
/* =Alignment & Positioning
----------------------------------------------- */
/* =Typography
----------------------------------------------- */
html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif; }

/* =Link colors
----------------------------------------------- */
/* =Media
----------------------------------------------- */
.site-header img,
.entry-content img,
.comment-content img,
.widget img {
  max-width: 100%;
  /* Fluid images for posts, comments, and widgets */ }

.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

.site-header img,
.entry-content img,
img.size-full {
  max-width: 100%;
  width: auto;
  /* Prevent stretching of full-size images with height and width attributes in IE8 */ }

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.wp-caption {
  border: 1px solid #ccc;
  max-width: 100%; }

.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
  margin-bottom: 1.5em; }

.wp-caption img {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.site-content .gallery {
  margin-bottom: 1.5em; }

.site-content .gallery a img {
  border: none;
  height: auto;
  max-width: 90%; }

.site-content .gallery dd {
  margin: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/* =Structure
----------------------------------------------- */
html, body {
  height: 100%; }

/*Opera Fix*/
body:before {
  content: "";
  float: left;
  height: 100%;
  margin-top: -32767px;
  width: 0; }

.site {
  margin: 0 auto;
  max-width: 1100px;
  min-height: 100%;
  padding: 0 25px; }

.site-main {
  overflow: auto;
  padding-bottom: 219px;
  /* must be same height as the footer */ }

/* =Header
----------------------------------------------- */
.site-header {
  margin-bottom: 60px; }

.site-title {
  float: left; }
  .site-title a {
    background: url("../images/logo.png") no-repeat;
    display: block;
    height: 84px;
    text-indent: -9999em;
    width: 665px; }

/* =Menu
----------------------------------------------- */
.main-navigation {
  clear: both;
  display: block;
  height: 92px;
  margin-bottom: 56px;
  width: 100%; }
  .main-navigation ul {
    display: table;
    list-style: none;
    margin: 0 auto;
    padding-left: 0; }
    .main-navigation ul li {
      float: left;
      margin-right: 36px;
      position: relative;
      text-align: center; }
      .main-navigation ul li:last-child {
        margin-right: 0; }
      .main-navigation ul li a {
        color: #878787;
        display: block;
        text-decoration: none; }
      .main-navigation ul li:hover > ul {
        display: block; }
      .main-navigation ul li.current_page_item a, .main-navigation ul li.current-menu-item a {
        color: #063579; }
    .main-navigation ul ul {
      -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      display: none;
      float: left;
      position: absolute;
      top: 1.5em;
      left: 0;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: 100%;
        top: 0; }
        .main-navigation ul ul ul li a {
          width: 200px; }

/* Small menu */
.menu-toggle {
  cursor: pointer; }

.main-small-navigation .menu {
  display: none; }

/* =Content
----------------------------------------------- */
.hentry {
  margin: 0 0 1.5em; }
  .hentry .entry-meta {
    clear: both; }
  .hentry .byline {
    display: none; }
    .single .hentry .byline, .group-blog .hentry .byline {
      display: inline; }
  .hentry .entry-content,
  .hentry .entry-summary {
    margin: 1.5em 0 0; }
    .hentry .entry-content .page-links,
    .hentry .entry-summary .page-links {
      clear: both;
      margin: 0 0 1.5em; }

/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/* =Navigation
----------------------------------------------- */
.site-content .site-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.site-content .nav-previous {
  float: left;
  width: 50%; }

.site-content .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* =Comments
----------------------------------------------- */
.comment-list {
  list-style: none;
  margin-left: 0; }
  .comment-list ul.children {
    list-style: none;
    margin: 0 -10px 0 90px; }
  .comment-list .comment {
    margin-bottom: 10px;
    padding: 10px 10px; }
    .comment-list .comment .reply {
      display: block;
      float: right;
      margin-left: 25px; }
      .comment-list .comment .reply a {
        background: url("../images/icons/reply.png") no-repeat;
        display: block;
        height: 32px;
        text-indent: -9999em;
        width: 32px; }
    .comment-list .comment .comment-author .avatar {
      float: left;
      margin: 0 20px 20px 0; }
    .comment-list .comment .comment-author cite {
      font-style: normal;
      font-weight: bold;
      margin-right: 20px; }
    .comment-list .comment .comment-meta {
      font-size: 12px;
      margin-bottom: 1em;
      text-transform: uppercase; }

/* =Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 1.5em; }

/* Search widget */
#searchsubmit {
  display: none; }

/* =Footer
[ Sticky Footer Solution by Steve Hatcher http://www.cssstickyfooter.com ]
----------------------------------------------- */
.site-footer {
  position: relative;
  margin-top: -219px;
  /* negative value of footer height */
  height: 219px;
  clear: both; }
