/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/* =Colors
----------------------------------------------- */
/* =Alignment & Positioning
----------------------------------------------- */
/* =Media
----------------------------------------------- */
/* =Forms
----------------------------------------------- */
/* =High Definition
----------------------------------------------- */
/* =Typography
----------------------------------------------- */
/* =Special effects
----------------------------------------------- */
/* =Media query helpers
----------------------------------------------- */
.social-icon {
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 32px;
  -moz-transition: all 400ms;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  list-style: none;
  width: 32px; }
  .social-icon svg path {
    fill: #000; }
  .no-touch .social-icon:hover {
    background-color: #000; }
    .no-touch .social-icon:hover svg path {
      fill: #fff; }

.social-links {
  margin: 0; }
  .social-links .social-link {
    display: inline-block;
    margin-right: 20px; }
    .social-links .social-link:last-child {
      margin-right: 0; }

/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .sidebar,
  #secondary,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
/* =Structure
----------------------------------------------- */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100%; }

/*Opera Fix*/
body:before {
  content: "";
  float: left;
  height: 100%;
  margin-top: -32767px;
  width: 0; }

.site {
  margin: 0 auto;
  min-height: 100%;
  padding: 0; }

/* =Header
----------------------------------------------- */
.site-header {
  margin-bottom: 60px; }
  .site-header .site-title {
    float: left; }
    .site-header .site-title a {
      background: url("../images/logo.png") no-repeat;
      display: block;
      height: 84px;
      text-indent: -9999em;
      width: 665px; }

/* =Menu
----------------------------------------------- */
ul.menu {
  margin-left: 0; }

.main-navigation {
  clear: both;
  display: block;
  height: 92px;
  margin-bottom: 56px;
  width: 100%; }
  .main-navigation ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 0; }
    .main-navigation ul li {
      position: relative;
      text-align: center; }
      .main-navigation ul li a {
        display: block;
        text-decoration: none; }
      .main-navigation ul li:hover > ul {
        display: block; }
    .main-navigation ul ul {
      -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      display: none;
      float: left;
      position: absolute;
      top: 1.5em;
      left: 0;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: 100%;
        top: 0; }
        .main-navigation ul ul ul li a {
          width: 200px; }
    @media screen and (min-width: 601px) {
      .main-navigation ul {
        display: table; }
        .main-navigation ul li {
          float: left;
          margin-right: 36px; }
          .main-navigation ul li:last-child {
            margin-right: 0; } }

/* Small menu */
.menu-toggle {
  background: transparent url(../images/menu.png) left center no-repeat;
  background-image: url(../images/menu.svg), none;
  background-size: 100% 100%;
  -ms-behavior: url("../js/backgroundsize.min.htc");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: none;
  cursor: pointer;
  padding-left: 35px; }
  .menu-toggle:hover {
    background: transparent url(../images/menu.png) left center no-repeat;
    background-image: url(../images/menu.svg), none;
    background-size: 100% 100%;
    -ms-behavior: url("../js/backgroundsize.min.htc");
    background-repeat: no-repeat;
    background-size: contain; }

.main-small-navigation .menu {
  display: none; }

/* =Content
----------------------------------------------- */
.hentry {
  margin: 0 0 1.5em; }
  .hentry .entry-meta {
    clear: both; }
  .hentry .byline {
    display: none; }
    .single .hentry .byline, .group-blog .hentry .byline {
      display: inline; }
  .hentry .entry-content,
  .hentry .entry-summary {
    margin: 1.5em 0 0;
    /* =Colors
    ----------------------------------------------- */
    /* =Alignment & Positioning
    ----------------------------------------------- */
    /* =Media
    ----------------------------------------------- */
    /* =Forms
    ----------------------------------------------- */
    /* =High Definition
    ----------------------------------------------- */
    /* =Typography
    ----------------------------------------------- */
    /* =Special effects
    ----------------------------------------------- */
    /* =Media query helpers
    ----------------------------------------------- */
    /* =Typography
    ----------------------------------------------- */
    /* =Link colors
    ----------------------------------------------- */
    /* =Lists
    ----------------------------------------------- */
    /* =Forms
    ----------------------------------------------- */ }
    .hentry .entry-content .page-links,
    .hentry .entry-summary .page-links {
      clear: both;
      margin: 0 0 1.5em; }

/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/* =Navigation
----------------------------------------------- */
.site-content .site-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.site-content .nav-previous {
  float: left;
  width: 50%; }
.site-content .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* =Comments
----------------------------------------------- */
.comment-list {
  list-style: none;
  margin-left: 0; }
  .comment-list ol.children {
    list-style: none;
    margin: 0 -10px 0 90px; }
  .comment-list .trackback,
  .comment-list .pingback {
    display: none; }
  .comment-list .comment {
    margin-bottom: 10px;
    padding: 10px 10px; }
    .comment-list .comment .reply {
      display: block;
      float: right;
      margin-left: 25px; }
    .comment-list .comment .comment-author .avatar {
      float: left;
      margin: 0 20px 20px 0; }
    .comment-list .comment .comment-author cite {
      font-style: normal;
      font-weight: bold;
      margin-right: 20px; }
    .comment-list .comment .comment-metadata {
      font-size: 12px;
      font-size: 1.2rem;
      margin-bottom: 1em;
      text-transform: uppercase; }

/* =Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 1.5em; }

/* Search widget */
#searchsubmit {
  display: none; }

/* =Footer
----------------------------------------------- */
.site-footer {
  clear: both;
  position: relative; }
