/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/* =Colors
----------------------------------------------- */
/* =Font stacks
----------------------------------------------- */
/* =Alignment & Positioning
----------------------------------------------- */
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/* =Structure
----------------------------------------------- */
html, body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif; }

/*Opera Fix*/
body:before {
  content: "";
  float: left;
  height: 100%;
  margin-top: -32767px;
  width: 0; }

.site {
  margin: 0 auto;
  max-width: 1100px;
  min-height: 100%;
  padding: 0 25px; }

.site-main {
  overflow: auto; }

/* =Header
----------------------------------------------- */
.site-header {
  margin-bottom: 60px; }
  .site-header .site-title {
    float: left; }
    .site-header .site-title a {
      background: url("../images/logo.png") no-repeat;
      display: block;
      height: 84px;
      text-indent: -9999em;
      width: 665px; }

/* =Menu
----------------------------------------------- */
.main-navigation {
  clear: both;
  display: block;
  height: 92px;
  margin-bottom: 56px;
  width: 100%; }
  .main-navigation ul {
    display: table;
    list-style: none;
    margin: 0 auto;
    padding-left: 0; }
    .main-navigation ul li {
      float: left;
      margin-right: 36px;
      position: relative;
      text-align: center; }
      .main-navigation ul li:last-child {
        margin-right: 0; }
      .main-navigation ul li a {
        color: #878787;
        display: block;
        text-decoration: none; }
      .main-navigation ul li:hover > ul {
        display: block; }
      .main-navigation ul li.current_page_item a, .main-navigation ul li.current-menu-item a {
        color: #063579; }
    .main-navigation ul ul {
      -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      display: none;
      float: left;
      position: absolute;
      top: 1.5em;
      left: 0;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: 100%;
        top: 0; }
        .main-navigation ul ul ul li a {
          width: 200px; }

/* Small menu */
.menu-toggle {
  cursor: pointer; }

.main-small-navigation .menu {
  display: none; }

/* =Content
----------------------------------------------- */
.hentry {
  margin: 0 0 1.5em; }
  .hentry .entry-meta {
    clear: both; }
  .hentry .byline {
    display: none; }
    .single .hentry .byline, .group-blog .hentry .byline {
      display: inline; }
  .hentry .entry-content,
  .hentry .entry-summary {
    margin: 1.5em 0 0;
    /* =Colors
    ----------------------------------------------- */
    /* =Font stacks
    ----------------------------------------------- */
    /* =Alignment & Positioning
    ----------------------------------------------- */
    /* =Typography
    ----------------------------------------------- */
    /* =Link colors
    ----------------------------------------------- */
    /* =Lists
    ----------------------------------------------- */
    /* =Forms
    ----------------------------------------------- */ }
    .hentry .entry-content ol, .hentry .entry-content ul,
    .hentry .entry-summary ol,
    .hentry .entry-summary ul {
      list-style: none; }
    .hentry .entry-content .page-links,
    .hentry .entry-summary .page-links {
      clear: both;
      margin: 0 0 1.5em; }

/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/* =Navigation
----------------------------------------------- */
.site-content .site-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.site-content .nav-previous {
  float: left;
  width: 50%; }
.site-content .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* =Comments
----------------------------------------------- */
.comment-list {
  list-style: none;
  margin-left: 0; }
  .comment-list ul.children {
    list-style: none;
    margin: 0 -10px 0 90px; }
  .comment-list .comment {
    margin-bottom: 10px;
    padding: 10px 10px; }
    .comment-list .comment .reply {
      display: block;
      float: right;
      margin-left: 25px; }
      .comment-list .comment .reply a {
        background: url("../images/icons/reply.png") no-repeat;
        display: block;
        height: 32px;
        text-indent: -9999em;
        width: 32px; }
    .comment-list .comment .comment-author .avatar {
      float: left;
      margin: 0 20px 20px 0; }
    .comment-list .comment .comment-author cite {
      font-style: normal;
      font-weight: bold;
      margin-right: 20px; }
    .comment-list .comment .comment-meta {
      font-size: 12px;
      margin-bottom: 1em;
      text-transform: uppercase; }

/* =Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 1.5em; }

/* Search widget */
#searchsubmit {
  display: none; }

/* =Footer
----------------------------------------------- */
.site-footer {
  clear: both;
  position: relative; }

/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to 
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection. 
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.
  
  ******************************************************************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /* .menu is clearfixed inside mixins.scss */
  .menu {
    /* end .menu ul */ }
    .menu ul {
      /* end .menu ul li */
      /* highlight current page */
      /* end current highlighters */ }
      .menu ul li {
        /*
        plan your menus and drop-downs wisely.
        */ }
        .menu ul li a {
          /*
          you can use hover styles here even though this size
          has the possibility of being a mobile device.
          */ }

  /* end .menu */
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */ }
    .entry-content .alignleft, .entry-content img.alignleft {
      margin-right: 1.5em;
      display: inline;
      float: left; }
    .entry-content .alignright, .entry-content img.alignright {
      margin-left: 1.5em;
      display: inline;
      float: right; }
    .entry-content .aligncenter, .entry-content img.aligncenter {
      margin-right: auto;
      margin-left: auto;
      display: block;
      clear: both; }

  /* end .entry-content */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  check your menus here. do they look good?
  do they need tweaking?
  */
  /* end .footer-links */ }
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Grid Stylesheet
  
  I've seperated the grid so you can swap it out easily. It's
  called at the top the style.scss stylesheet.
  
  There are a ton of grid solutions out there. You should definitely
  experiment with your own. Here are some recommendations:
  
  http://gridsetapp.com - Love this site. Responsive Grids made easy.
  http://susy.oddbird.net/ - Grids using Compass. Very elegant.
  http://gridpak.com/ - Create your own responsive grid.
  
  The grid below is a combination of the 1140 grid and Twitter Boostrap. 
  I liked 1140 but Boostrap's grid was way more detailed so I merged them 
  together, let's see how this works out. If you want to use 1140, the original 
  values are commented out on each line.
  
  ******************************************************************/
  .onecol {
    width: 5.801104972%; }

  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%; }

  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%; }

  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%; }

  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%; }

  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%; }

  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%; }

  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%; }

  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%; }

  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%; }

  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%; }

  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%; }

  /* 100%;   } /* grid_12 */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%; }

  .first {
    margin-left: 0; }

  .last {
    float: right; }

  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  .wrap {
    max-width: 1140px; }

  /*********************
  HEADER STYLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  .main-navigation {
    background: #eee;
    border: 0;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .main-navigation ul {
      margin-top: 0; }
    .main-navigation li {
      float: left;
      position: relative;
      /*
      plan your menus and drop-downs wisely.
      */
      /* showing sub-menus */ }
      .main-navigation li a {
        border-bottom: 0;
        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */ }
        .main-navigation li a:hover, .main-navigation li a:focus {
          background-color: #dedede; }
      .main-navigation li ul.sub-menu,
      .main-navigation li ul.children {
        margin-top: 0;
        border: 1px solid #ccc;
        border-top: 0;
        position: absolute;
        overflow: hidden;
        visibility: hidden;
        z-index: 8999;
        /* highlight sub-menu current page */ }
        .main-navigation li ul.sub-menu li,
        .main-navigation li ul.children li {
          /*
          if you need to go deeper, go nuts
          just remember deeper menus suck
          for usability. k, bai.
          */ }
          .main-navigation li ul.sub-menu li a,
          .main-navigation li ul.children li a {
            padding-left: 10px;
            border-right: 0;
            display: block;
            width: 180px;
            border-bottom: 1px solid #ccc; }
          .main-navigation li ul.sub-menu li:last-child a,
          .main-navigation li ul.children li:last-child a {
            border-bottom: 0; }
      .main-navigation li:hover ul {
        top: auto;
        overflow: visible;
        visibility: visible; }

  /* end .nav */
  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar {
    margin-top: 2.2em; }

  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em; }

  .widget {
    padding: 0 10px;
    margin: 2.2em 0; }
    .widget ul li {
      margin-bottom: 0.75em;
      /* deep nesting */ }
      .widget ul li ul {
        margin-top: 0.75em;
        padding-left: 1em; }

  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  .footer-links ul li {
    /*
    be careful with the depth of your menus.
    it's very rare to have multi-depth menus in
    the footer.
    */ }

  /* end .footer-links */ }
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop. 
  
  ******************************************************************/ }
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Super Large Monitor Stylesheet
  
  You can add some advanced styles here if you like. This kicks in
  on larger screens.
  
  ******************************************************************/ }
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */ }
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
