/* =Structure
----------------------------------------------- */
html, body { height: 100%; }

html {
	font-size: 62.5%; // Sets up the Base 10 stuff
}

body {
	background: #fff;
	font-family: Helvetica, Arial, sans-serif;
}

/*Opera Fix*/
body:before {
	content: "";
	float: left;
	height: 100%;
	margin-top: -32767px;
	width: 0;
}

.site {
	margin: 0 auto;
	max-width: 1100px;
	min-height: 100%;
	padding: 0 25px;
}

.site-main {
	overflow: auto;
}


/* =Header
----------------------------------------------- */
.site-header {
	margin-bottom: 60px;

	.site-title {
		float: left;

		a {
			background: url('../images/logo.png') no-repeat;
			display: block;
			height: 84px;
			text-indent: -9999em;
			width: 665px;
		}
	}
}


/* =Menu
----------------------------------------------- */
.main-navigation {
	clear: both;
	display: block;
	height: 92px;
	margin-bottom: 56px;
	width: 100%;

	ul {
		display: table;
		list-style: none;
		margin: 0 auto;
		padding-left: 0;

		li {
			float: left;
			margin-right: 36px;
			position: relative;
			text-align: center;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: #878787;
				display: block;
				text-decoration: none;
			}

			&:hover > ul {
				display: block;
			}

			&.current_page_item a,
			&.current-menu-item a {
				color: #063579;
			}
		}

		ul {
			-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
			box-shadow: 0 3px 3px rgba(0,0,0,0.2);
			display: none;
			float: left;
			position: absolute;
				top: 1.5em;
				left: 0;
			z-index: 99999;
		
			ul {
				left: 100%;
				top: 0;

				li {
					a { width: 200px; }
					&:hover > a {}
				}
			}
		}
	}
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
}
.main-small-navigation .menu {
	display: none;
}


/* =Content
----------------------------------------------- */
.sticky {
}
.hentry {
	margin: 0 0 1.5em;

	.entry-meta {
		clear: both;
	}
	.byline {
		display: none;

		.single &,
		.group-blog & {
			display: inline;
		}
	}
	
	.entry-content,
	.entry-summary {
		margin: 1.5em 0 0;

		@import "content";

		.page-links {
			clear: both;
			margin: 0 0 1.5em;
		}
	}
}


/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Navigation
----------------------------------------------- */
.site-content {
	.site-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* =Comments
----------------------------------------------- */
.comment-list {
	list-style: none;
	margin-left: 0;

	ul.children {
		list-style: none;
		margin: 0 -10px 0 90px;
	}

	.comment {
		margin-bottom: 10px;
		padding: 10px 10px;

		.reply {
			display: block;
			float: right;
			margin-left: 25px;

			a {
				background: url('../images/icons/reply.png') no-repeat;
				display: block;
				height: 32px;
				text-indent: -9999em;
				width: 32px;
			}
		}

		.comment-author {
			.avatar {
				float: left;
				margin: 0 20px 20px 0;
			}

			cite {
				font-style: normal;
				font-weight: bold;
				margin-right: 20px;
			}
		}

		.comment-meta {
			font-size: 12px;
			margin-bottom: 1em;
			text-transform: uppercase;
		}
	}

	.odd {
		
	}

	.even {
		
	}

	.bypostauthor {
	}
}

/* =Widgets
----------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

/* Search widget */
#searchsubmit {
	display: none;
}


/* =Footer
----------------------------------------------- */
.site-footer {
	clear: both;
	position: relative;
}