/* =Colors
----------------------------------------------- */


/* =Font stacks
----------------------------------------------- */
$goudy: 'URW Goudy Old Style W01', "Goudy Old Style", Garamond, "Big Caslon", "Calisto MT", "Constantia", "Bookman Old Style", "Bookman", "Hoefler Text", "Bitstream Charter", Georgia, "Times New Roman", serif;
$proxima-nova: "proxima-nova", "Proxima Nova", "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
$jellyka: "jellyka_delicious_cakeregular", "Jellyka Delicious Cake Regular", script;