ul.social-links {
	padding-left: 0;
}

.social-icon { // Typically a list item
	background: #fff;
	@include border-radius( 50% );
	height: 32px;
	@include transition( all 400ms );
	list-style: none;
	width: 32px;

	a {
		outline: none;
	}

	svg {
		max-height: 100%;
		max-width: 100%;

		path {
			@include transition( fill 400ms );
			fill: #000;
		}
	}

	.no-touch &:hover {
		background-color: #000;

		svg path { fill: #fff; }
	}

	// Tweaks for specific networks
	&.facebook {}

	&.twitter {}

	&.pinterest {}

	&.instagram {}

	&.linkedin {}

	&.google {}

	&.youtube {}

	&.yelp {}

	&.stumbleupon {}

	&.email {}

	&.rss {}
}


// These are the ones created with the [_s-social] shortcode
.social-links {
	margin: 0;
	
	.social-link {
		display: inline-block;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}		
	}
}